%% -*- Erlang -*-

{erl_opts, [debug_info]}.

{sub_dirs, ["rel"]}.

{deps, [
        %% Tim's Queue
        {tqueue, ".*", {git, "git://github.com/timclassic/tqueue.git", "HEAD"}},

        %% Tim's Queue Server
        {tqserver, ".*", {git, "git://github.com/timclassic/tqserver.git", "HEAD"}}
       ]
}.
